a{
    color: #757575;
}

a:hover{
    color: #757575;
}

.container-main{
    position: relative;
}

.breadcrumbs{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #757575;
}

.breadcrumbs a:hover{
    color: #ff6600;
}

.sep{
    margin: 0 .5em;
    color: #b0b0b0;
}